<div ng-controller="UsersController as ctrl">
    <h2>Yolooooooooo {{ctrl.version}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="ctrl.sort('name')">Nom</th>
                <th ng-click="ctrl.sort('age')">Age</th>
                <th ng-click="">Email</th>
                <th ng-click="">Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{ delete: ctrl.undo[user.id] }" ng-repeat="user in ctrl.users | filter:query | orderBy:ctrl.predicat:ctrl.reverse track by $index">
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
               <td>

                    <dta-gravatar
                        on-deactivate="ctrl.deactivate()" 
                        email="user.email"></dta-gravatar>
                
                </td>
                <td>  <span uib-rating ng-model="ctrl.user.rate" max="10"></span></span></td>
                <td style="text-align:right" ng-if="!ctrl.undo[user.id]">
                    <a ng-href="/user/{{ user.id }}" class="btn btn-primary">Editer</a>
                    <button ng-click="ctrl.deleteUser(user)" class="btn btn-danger">Supprimer</button>
                </td>
                <td style="text-align:right" ng-if="ctrl.undo[user.id]">
                    <button ng-click="ctrl.cancelDelete(user)" type="button" class="btn btn-default">Annuler</button>
                </td>
            </tr>
            <tr>
                <td><a href="/user" class="btn btn-success">Ajouter une utilisateur</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <p>Le doyen : {{ ctrl.users | eldest }}</p>



</div>