<div ng-controller="UsersController as ctrl">
    {{ctrl.user.name}} {{ctrl.users[0].name}} {{ctrl.getUserNameUpp(ctrl.user)}}
    <ul>
        <!--<li ng-repeat="user in ctrl.users">{{ user.name }}</li>-->
        <li ng-repeat="user in ctrl.users" ng-if="ctrl.startWithT(user)">{{ user.name }}</li>
    </ul>
    <ul>
        <!-- -->
        <li ng-repeat="user in ctrl.users track by $index">{{$index}} {{ user.name }}</li>
    </ul>
    <ul>
        <!-- -->
        <li ng-repeat="user in ctrl.users track by $index">
            <a href="#" ng-click="ctrl.action(user)">{{$index}}</a>
            <span ng-if="user.action">{{user.name}}</span>
        </li>
    </ul>
    <p ng-class="{textcolor: ctrl.cssEnable}" ng-click="ctrl.enableCss()">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad unde porro cumque quisquam sunt provident officia repellat facilis laborum. Atque, magnam, culpa. Accusamus beatae deleniti cupiditate fugit, quae sit ullam!</p>
    <input type="text" ng-model="ctrl.name">
    <ul>
        <!--<li ng-repeat="user in ctrl.filter()">{{user.name}}</li>-->
        <li ng-repeat="user in ctrl.users | filter:ctrl.name">{{user.name}}</li>
    </ul>
</div>
<div ng-controller="UsersController as ctrl3">
    <h2 style="color:red">Le doyen </h2>
    <strong>Le doyen : {{ ctrl3.users | eldest }}</strong>
</div>
<h2 style="color:red">Le filtre exclam </h2>
<!--filtre-->
<h3>{{'Test' | uppercase | exclamation:10}}</h3>
<ng-include src="'template/one.html'"></ng-include>
<ng-include src="'template/one.html'"></ng-include>
</div>